<div id="page-wrapper" ng-show="load">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{header}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
        <div class="row">
            
        </div>
        <div class="row div-padding">
            <button class="btn btn-success pull-right input-padding-horizontal" ng-click="sendMail()()" ng-show="show_add_button"> Send </button>
            <button class="btn btn-success pull-right input-padding-horizontal" ng-click="save()"> Save </button>
        </div>
    </div>

